---
export const prerender = false;
import { wpquery } from '../../lib/wp-ql';
import Layout from '../../layouts/Layout.astro';
import MarkdownPostLayout from '../../layouts/MarkdownPostLayout.astro';

const { postwp } = Astro.params;

const data = await wpquery({
  query: `
    query GetPostBySlug($slug: ID!) {
      post(id: $slug, idType: SLUG) {
        title
        content
        date
        author {
          node {
            name
          }
        }
      }
    }
  `,
  variables: { slug: postwp },
});

const post = data?.data?.post;
---
{post ? (
    <MarkdownPostLayout 
      frontmatter={{ 
        title: post.title, 
        pubDate: new Date(post.date),
        author: post.author?.node?.name,
        tags: []
      }}>
      <div set:html={post.content} />
      </MarkdownPostLayout>
  ) : (
    <p>Post not found.</p>
)}